.container-create-staff {
    font-size: 17px;
    background-color: #2691d9;
    padding: 20%;
}

.container-create-staff h1 {
    margin: 0;
    
}

.flex-container-profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.main-create-staff {
    background-color: #fff;
    padding: 80px;
    border-radius: 1px;
}

.flex-profile {
    width: 100%;
}

.left-profile {
    padding-right: 20px;
}

.container-create-staff input:not([type=radio]) {
    padding: 12px 20px;
    margin: 4px 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.container button:hover {
    opacity: 0.8;
}

.btn-create-staff {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}

.btn-create-staff button {
    width: 30%;
}

.btn-create-staff button {
    height: 50px;
    border: 2px solid #fff;
    background: #1373b4;
    border-radius: 25px;
    font-size: 20px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-create-staff button:hover {
    background-color: #2691d9;
    opacity: 0.8;
    transition: .5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.icon {
    position: relative;
    top: 2px;
}
.container-create-staff h1 {
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 50px;
}