.content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9rem;
    min-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color:  #2691d9;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1f7ebd;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #1f7ebd;
}

.container-search_listcontract {
     background-color:  #2691d9;
    width: 100%;
    padding: 10px;
}

.main_search {
    //   border: #000 1px solid;
    background-color: #fff;
    display: flex;
    width: 60%;
    margin: auto;
    padding: 3px;
    border-radius: 5px;
}

.input_listcontract {
    width: 100% !important;
    margin: 2px !important;
    border: none !important;
}

.button-search_listcontract {
    margin: 2px;
    width: 100px;
     background-color:  #2691d9;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.button-search_listcontract:hover{
    background-color: #1f7ebd;
    color: #fff;
}

.cancel-renew{
    display: flex;
    justify-content: space-between;
}

.hover-pointer {
    cursor: pointer;
}